head {
    text-align: center;
    font-family: 'Times New Roman';
  }
body {
    text-align: center;
    font-family: 'Times New Roman';
    background: rgb(255, 96, 96);
    color: rgb(37, 34, 35);
  }